/* <!-- outside border -->
            <div class="border">
                <!-- inside border -->
                <div class="room">


                    <!-- floor -->
                    <div class="floor">

                        <!-- lamp -->
                        <div class="lamp-base"></div>
                        <div class="lamp-pole"></div>
                        <div class="lamp-top"></div>

                        <!-- artwork -->
                        <div class="artBorder">
                            <div class="artAPI"></div>
                        </div>

                        <!-- couch -->
                        <div class="couch">
                            <div class="back1"></div>
                            <div class="back2"></div>
                            <div class="back3"></div>
                            <div class="seat"></div>
                            <div class="couchBase"></div>
                            <div class="leg1"></div>
                            <div class="leg2"></div>
                            <div class="arm1"></div>
                            <div class="arm2"></div>
                        </div> */
/* 
                        <!-- plant -->
                        <div class="plantBase">
                            <p class="stem1"></p>
                            <div class="stem2"></div>
                            <div class="stem3"></div>
                        </div>




                    </div>
                </div>
            </div>
        </div> */

/* ROOM */


.room {
    display: flex;
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 60vw;
    height: 35vh;
    border: 15px solid #443235;
    border-radius: 30px;
    margin: 10px;
   }
  
  .floor {
    position: relative;
    top: 75%;
    background-color: rgb(187, 149, 113);
    height: 20%;
    width: 100%;
    margin: 10px;
    border-radius: 0 0 30px 30px;
  }
  
  .lamp-pole {
    position: relative;
    top: -130%;
    left: 85%;
    background-color: black;
    height: 10vh;
    width: 0.5vw;
  }
  
  .lamp-base {
    position: relative;
    top: 15%;
    left: 82%;
    background-color: black;
    height: 3px;
    width: 4vw;
    border-radius: 50px;
  }
  
  .lamp-top {
    position: relative;
    top: -300%;
    left: 81%;
    background-color: rgb(120, 119, 119);
    height: 4vh;
    width: 9%;
    border-radius: 2px;
  }
  
  .artBorder {
    position: relative;
    top: -500%;
    left: 28%;
    height: 8vh;
    width: 20vw;
    border: 5px solid black; 
  }
  
  .plantBase {
    position: relative;
    top: -370%;
    left: 10%;
    height: 5vh;
    width: 4vw;
    background-color: brown;
    border-radius: 0 0 30px 30px;
  }
  
  .stem1 {
    position: relative;
    top: -200%;
    left: 33%;
    height: 10vh;
    width: 1.5vw;
    background-color: rgb(48, 126, 75);
    border-radius: 30px 30px 0 0;
  }
  
  .stem2 {
    top: -200%;
    left: 33%;
    background-color: rgb(48, 126, 75);
    border-radius: 30px 30px 0 0;
  }
  