/* PAGE STRUCTURE */

body {
  background-color: #8aaae5;
  display: flex;
  align-content: center;
  gap: 10px;
  font-family: "Libre Baskerville", serif;
}

@media screen and (max-width: 768px) {
  body {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
  }
  form {
    display: flex;
    flex-direction: row;
    gap: 1%;
    font-size: 30px;
  }
}

div.display {
  display: flex;
  flex-flow: column wrap;
  min-width: 65vw;
}

header {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

h1 {
  color: white;
  font-size: 600%;
  margin: 30px auto 0px auto;
  border-bottom: 1px solid #06193e;
}

.subtitle {
  color: #08255b;
  font-size: 150%;
}

a {
  color: #06193e;
  margin: 0 0 20px 0;
}
.main {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

/* FIND ART BAR */

/* HEADING OF FIND ART BAR */

.sideHeading {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  min-width: 30vw;
  margin: 5px;
}

.sideTitle {
  color: #08255b;
  border-bottom: 1px solid #06193e;
}

.sideCaption {
  margin-top: 0;
}
form {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 28px;
  padding-bottom: 15px;
  border-bottom: 1px solid #06193e;
}

.textBox {
  background-color: white;
  width: 70%;
  border: 2px solid #08255b;
  border-radius: 5px;
  font-size: 60%;
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.2), 0 6px 20px 0 rgb(0, 0, 0, 0.19);
}

.submitButton {
  background-color: white;
  width: 25%;
  border: 2px solid #08255b;
  border-radius: 5px;
  color: #08255b;
  font-size: 60%;
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.2), 0 6px 20px 0 rgb(0, 0, 0, 0.19);
}

.side {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  min-width: 33vw;
}

/* SEARCH RESULTS OF FIND ART BAR */

.searchResults {
  display: flex;
  flex-direction: row;
  padding: 4px;
  }

.imageItem {
  margin: 2%;
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.2), 0 6px 20px 0 rgb(0, 0, 0, 0.19);
  height: auto;
  width: 200px;
}

.text {
  font-size: 1rem;
  margin: 2%;
  font-weight:400;
}

.title {
  font-weight: 100;
  color: #08255b;
}

/* ROOM */

.room {
  display: flex;
  background-color: rgb(255, 255, 255);
  width: 90%;
  height: auto;
  border: 20px solid #08255b;
  border-radius: 10px;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.2), 0 6px 20px 0 rgb(0, 0, 0, 0.19);
}

.roomBackground {
  display: flex;
  position: relative;
  width: 101%;
  height: auto;
  left: -0.25%;
}

.artBorder {
  display: flex;
  position: relative;
  left: -50%;
  top: 10%;
  max-height: 30%;
  min-width: 30%;
  border: 10px solid black;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.2), 0 6px 20px 0 rgb(0, 0, 0, 0.19);
  padding: 1%;
}

.artAPI {
  position: center;
  width: 100%;
  height: 100%;
  object-fit: scale-down;
 }
