/* PAGE STRUCTURE */

body {
  background-color: #5b84b1ff;
  display: flex;
  align-content: center;
  gap: 10px;
}

div.display {
  display: flex;
  flex-flow: column wrap;
  min-width: 65vw;
}

header {
  border: solid salmon;
}

main {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  border: solid salmon;
}

/* FIND ART BAR */

div.side-heading {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  min-width: 30vw;
  margin: 5px;
  border: solid salmon;
}

.textBox {
  background-color: white;
  width: 75%;
}

.submitButton {
  background-color: white;
  width: 20%;
}

.side {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  min-width: 30vw;
  border: solid salmon;
}

.searchResults {
  display: flex;
  flex-direction: row;
}

.result {
  display: flex;
  flex-direction: column;
}

.data {
  display: flex;
  flex-direction: row;
}


.title {
  font-weight: bold;
}


/* Add media query to have search results go beneath Your room in smaller views. */

/* ROOM */


